
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Container styles */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  padding: 20px;
  box-sizing: border-box;
} */

.search-input {
  margin-bottom: 10px;
  padding: 8px 12px;  
  border: none;   
  background-color: #f2f2f2;  
  color: #333;  
  font-size: 16px;  
  width: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
  transition: background-color 0.3s ease, box-shadow 0.3s ease;   
}

.search-input:focus {
  outline: none;  
  background-color: #e6e6e6;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #ccc;
}

/* Selected row style */
.table .selected {
  background-color: #e6f3ff;
}

/* Pagination styles */
.pagination {
  margin-top: 10px;
}

.pagination button {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px; 
  font-size: 14px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #b3d9ff;  
}

.pagination button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:hover {
  background-color: #b3d9ff;  
}

/* Delete selected button styles */
.delete-selected-button {
  padding: 8px 16px;
  background-color: red;
  border: none;
  border-radius: 20px;  
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  position: absolute;   
  left: 20px;   
  
  bottom: 10px;   
 
}

.delete-selected-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* Button container styles */
.btn-container {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;  
  gap: 10px;  
}

.btn-container button {
  display: flex;  
  align-items: center;  
  justify-content: center;  
  padding: 8px 12px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 100px;   
  font-size: 10px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #b3d9ff;  
}

.btn-container button i {
    margin-right: px; /* Add margin to the right of the icon */
  }


/* Modal style */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);   
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  max-width: 600px;
  width: 80%;
}

.modal h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.modal p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.modal button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #45a049;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .modal-content {
    padding: 20px;  
    width: 90%;   
  }
  
  .modal h3 {
    font-size: 20px;  
  }
  
  .modal p {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
  .modal button {
    padding: 10px 20px;   
    font-size: 16px;  
  }

  .btn-container button {
    padding: 6px 10px;  
    font-size: 8px;   
    margin: 2px;  
  }

  .delete-selected-button {
    left: 190px;
    bottom: -355px;
  }
   
  .search-input {
    margin-top: 300px;
    margin-bottom: 10px;
    padding: 8px 12px;  
    border: none;   
    border-radius: 20px;  
    background-color: #f2f2f2;  
    color: #333;  
    font-size: 16px;  
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
    transition: background-color 0.3s ease, box-shadow 0.3s ease;   
  }

  .search-input:focus {
    outline: none;  
    background-color: #e6e6e6;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
  }
  
}


